@import '../variables.scss';

.bg-light {
  background-color: $light;
}
.bg-dark {
  background-color: $dark;
}
.bg-blue {
  background-color: $blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-teal {
  background-color: $teal;
}
.bg-orange {
  background-color: $orange-lighter;
}

.text-light {
  color: $light;
}
.text-dark {
  color: $dark;
}
.text-blue {
  color: $blue;
}
.text-purple {
  color: $purple;
}
.text-teal {
  color: $teal;
}
.text-orange {
  color: $orange;
}
