@import '../variables.scss';

$increments: (
  0: 0,
  1: .25rem,
  2: .5rem,
  3: .75rem,
  4: 1rem,
);

@each $incr, $size in $increments {
  .ma-#{$incr} {
    margin: $size !important;
  }
  .mx-#{$incr} {
    margin: 0 $size !important;
  }
  .my-#{$incr} {
    margin: $size 0 !important;
  }
  .mt-#{$incr} {
    margin-top: $size !important;
  }
  .mr-#{$incr} {
    margin-right: $size !important;
  }
  .mb-#{$incr} {
    margin-bottom: $size !important;
  }
  .ml-#{$incr} {
    margin-left: $size !important;
  }
}

@each $incr, $size in $increments {
  .pa-#{$incr} {
    padding: $size !important;
  }
  .px-#{$incr} {
    padding-right: $size !important;
    padding-left: $size !important;
  }
  .py-#{$incr} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }
  .pt-#{$incr} {
    padding-top: $size !important;
  }
  .pr-#{$incr} {
    padding-right: $size !important;
  }
  .pb-#{$incr} {
    padding-bottom: $size !important;
  }
  .pl-#{$incr} {
    padding-left: $size !important;
  }
}