@use '../_variables' as v;


.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justified {
  text-align: justify;
}
.text-underlined {
  text-decoration: underline;
}

.caption {
  font-size: v.$caption;
}