@import '~bulma/sass/utilities/_all';

// custom css
.nuxt-link-exact-active {
  text-decoration: underline;
}

// router transition classes
.page-enter-active, .page-leave-active {
  transition: opacity .05s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

// custom scss
$navbar-breakpoint: $tablet;

@import '~bulma';
@import '~buefy/src/scss/buefy';

