@import '~bulma/sass/utilities/_all';

// custom scss
$navbar-breakpoint: $tablet;
$modal-background-background-color: $black;

$pink: pink;
$pink-invert: findColorInvert($pink);

$powderblue: hsl(212, 81%, 35%);
$powderblue-invert: hsl(194, 82%, 35%);


$velvet: #1a3a42;
$velvet-invert: findColorInvert($velvet);


$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "velvet": ($velvet, $velvet-invert),
  "powderblue": ($powderblue, $powderblue-invert),
);

$card-background-color: transparent;
$card-shadow: 0;
$card-header-shadow: 0;
$card-header-padding: .5rem;
$card-content-padding: .5rem;

@import '~bulma';
@import '~buefy/src/scss/buefy';


// custom css
body {
  background-color: $light;
  // height: 100%;
  min-height: 100vh;
}
a {
  color: $powderblue;
}
a:hover {
  color: $powderblue-invert;
}

.nuxt-link-exact-active {
  color: $pink !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity .05s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.tile.is-child {
  padding: .8rem;
  margin: .8rem !important;
  background-color: transparent;
}

.box {
  border-radius: 0;
}