@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  // font-size: 18px;
  color: $link;

  &.nuxt-link-active,
  &.nuxt-link-exact-active {
    color: $link-active;
  } 
}

// apply this class to the outermost element in layout components
// to enable easily setting page heights
.app {
  position: absolute;
  height: 100%;
  width: 100%;
}