@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: $link;

  &.nuxt-link-active,
  &.nuxt-link-exact-active {
    color: $link-active;
  }

  &.card:hover {
    border: 1px solid $teal;
    border-collapse: separate;
  }
}

// apply this class to the outermost element in layout components
// to enable easily setting page heights
.app {
  position: absolute;
  height: 100%;
  width: 100%;
}