@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: $link;

  &.nuxt-link-active,
  &.nuxt-link-exact-active {
    color: $link-active;
  } 
}
