

// Colors
$dark: #343434;
$light: #fefefe;
$light-darker: #ededed;
$link: #3273dc;
$link-active: #19a099;



$blue: #06389c;
$purple: #97069c;
$teal: #4ab;

// $primary: #1a3a42;
$primary: $blue;
$primary-lighter: $blue;
$primary-darker: $blue;

$secondary: $purple;
$secondary-lighter: $purple;
$secondary-darker: $purple;

// Breakpoint
$breakpoints: (
  'mobile': 0,
  'tablet': 576px,
  'desktop': 768px,
  'tv': 992px,
);

// Navbar
$navbar-height: 5rem;
$navbar-dense-height: 3rem;