

// Colors
$dark: #343434;
$dark-darker: #232323;
$dark-lighter: #454545;
$light: #fefefe;
$light-darker: #ededed;

$blue: #06389c;
$purple: #97069c;
$teal: #4ab;
$orange: #f9910a;
$orange-lighter: #ffa939;

$link: #3273dc;
$link-active: #19a099;


// $primary: #1a3a42;
$primary: $blue;
$primary-lighter: $blue;
$primary-darker: $blue;

$secondary: $purple;
$secondary-lighter: $purple;
$secondary-darker: $purple;

// Breakpoint
$breakpoints: (
  'mobile': ('min': 0, 'max': 599px),
  'tablet': ('min': 600px, 'max': 959px),
  'laptop': ('min': 960px, 'max': 1263px),
  'desktop': ('min': 1264px, 'max': 1903px),
  'huge': ('min': 1904px),
);

// Navbar
$navbar-height: 5rem;
$navbar-dense-height: 3rem;