@import '../_variables.scss';

.navbar {
  position: relative;
  z-index: 1;
  height: $navbar-height;

  &.dense {
    height: $navbar-dense-height;

    > nav {
      height: $navbar-dense-height
    }
  }

  > nav {
    position: fixed;
    top: 0;
    background: $light;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin: 0;
    height: $navbar-height;
    width: 100%;

    box-shadow: 0 1px 2px #888;
    color: $dark;

  
    .navbar-title a {
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark;
    }

    .breadcrumbs {
      display: flex;
      align-content: center;

      .breadcrumbs-seperator {
        margin: 0 .75rem
      }

      a {
        color: #777
      }

      .nuxt-link-active,
      .nuxt-link-exact-active {
        color: $link-active
      }
    }
  
  }

  $tablet: map-get($breakpoints, 'tablet');
  @media print, screen and (max-width: map-get($tablet, 'min')) {
    nav {
      padding: 0;
      padding-right: .5rem;
      padding-left: 1rem;

      .navbar-title a {
        font-size: 1.2rem;
        color: $dark;
      }

      .breadcrumbs {
        a {
          font-size: .8rem;
        }

        .breadcrumbs-seperator {
          font-size: .8rem;
          margin: 0 .3rem;
        }
      }

    }
  }
}
